{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}
  {{#if this.model.app.entityID}}
    <table class='detail-list'>
      <thead>
      <tr>
        <th colspan="2">YARN App Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Status</td>
        <td><EmTableStatusCell @content={{this.model.app.status}} /></td>
      </tr>
      <tr>
        <td>Final Status</td>
        <td><EmTableStatusCell @content={{this.model.app.finalStatus}} /></td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td><DateFormatter @content={{this.model.app.startTime}} /></td>
      </tr>
      <tr>
        <td>End Time</td>
        <td><DateFormatter @content={{this.model.app.endTime}} /></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt this.model.app.duration type="duration"}}</td>
      </tr>
      </tbody>
    </table>

    <table class='detail-list'>
      <thead>
      <tr>
        <th colspan="2">YARN App Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Application Tracking URL</td>
        <td><a href={{this.trackingURL}} target="_blank" rel="noopener noreferrer">{{this.model.app.entityID}}</a></td>
      </tr>
      <tr>
        <td>Application Name</td>
        <td>{{this.model.app.name}}</td>
      </tr>
      <tr>
        <td>Queue</td>
        <td>{{this.model.app.queue}}</td>
      </tr>
      <tr>
        <td>Application Type</td>
        <td>{{this.model.app.type}}</td>
      </tr>
      <tr>
        <td>User</td>
        <td>{{this.model.app.user}}</td>
      </tr>
      </tbody>
    </table>
  {{/if}}

  {{#if this.model.entityID}}
    <table class='detail-list'>
      <thead>
      <tr>
        <th colspan="2">Tez Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Entity ID</td>
        <td>{{this.model.entityID}}</td>
      </tr>
      <tr>
        <td>Domain</td>
        <td>{{this.model.domain}}</td>
      </tr>
      <tr>
        <td>User</td>
        <td>{{this.model.user}}</td>
      </tr>
      </tbody>
    </table>

    <table class='detail-list'>
      <thead>
      <tr>
        <th colspan="2">Version Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Build Version</td>
        <td>{{this.model.tezVersion}}</td>
      </tr>
      <tr>
        <td>Build Revision</td>
        <td>{{this.model.tezRevision}}</td>
      </tr>
      <tr>
        <td>Build Time</td>
        <td>{{this.model.buildTime}}</td>
      </tr>
      </tbody>
    </table>
  {{/if}}

  {{#unless (and this.model.entityID this.model.app.entityID)}}
    <h2>Some data is not available!</h2>
    <h5>No data returned from URL:
      <i>
        {{#unless this.model.entityID}}
          {{this.hosts.timeline}}/{{this.env.app.namespaces.webService.timeline}}/{{this.env.app.paths.timeline.app}}/tez_{{this.model.appID}}
        {{/unless}}
        {{#unless this.model.app.entityID}}
          {{#unless this.model.entityID}}
            &
          {{/unless}}
          {{this.hosts.timeline}}/{{this.env.app.namespaces.webService.appHistory}}/apps/{{this.model.appID}}
        {{/unless}}
      </i>.
      The data may not be available in YARN Timeline or you may not have the necessary permissions to view this data.
    </h5>
  {{/unless}}

{{else}}
  <Loading/>
{{/if}}
