{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}

  {{!-- Vertex configuration visualization --}}
  <div class="vertex-configs-container">
    <div class="row-container">
      {{#if this.configsHash.sources.length}}
        <div class="column-container top-column">
          <div class="box">
            <div class="header">Sources</div>
            {{#each this.configsHash.sources as |source|}}
              <div class="config-cell {{if (eq source this.configDetails) 'selected'}}"
                {{action 'showConf' 'sources' source}}>
                {{source.name}}
                {{#if source.desc}}
                  [ {{source.desc}} ]
                {{/if}}
                <div class="count-txt">
                  {{#if source.configs.length}}
                    Configurations: {{source.configs.length}}
                  {{else}}
                    Configuration not available!
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
          <div class="link"></div>
        </div>
      {{/if}}
      {{#if this.configsHash.inputs.length}}
        <div class="column-container top-column">
          <div class="box">
            <div class="header">Inputs</div>
            {{#each this.configsHash.inputs as |input|}}
              <div class="config-cell {{if (eq input this.configDetails) 'selected'}}"
                {{action 'showConf' 'inputs' input}}>
                {{input.desc}}
                <div class="count-txt">
                  {{#if input.configs.length}}
                    Configurations: {{input.configs.length}}
                  {{else}}
                    Configuration not available!
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
          <div class="link"></div>
        </div>
      {{/if}}
    </div>
    <div class="processor">
      <div class="box">
        <div class="header">Processor</div>
        <div class="config-cell {{if (eq this.configsHash.processor this.configDetails) 'selected'}}"
          {{action 'showConf' 'processor' this.configsHash.processor}}>
          {{this.configsHash.processor.desc}}
          <div class="count-txt">
            {{#if this.configsHash.processor.configs.length}}
              Configurations: {{this.configsHash.processor.configs.length}}
            {{else}}
              Configuration not available!
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="row-container">
      {{#if this.configsHash.sinks.length}}
        <div class="column-container">
          <div class="link"></div>
          <div class="box">
            <div class="header">Sinks</div>
            {{#each this.configsHash.sinks as |sink|}}
              <div class="config-cell {{if (eq sink this.configDetails) 'selected'}}"
                {{action 'showConf' 'sinks' sink}}>
                {{sink.name}}
                {{#if sink.desc}}
                  [ {{sink.desc}} ]
                {{/if}}
                <div class="count-txt">
                  {{#if sink.configs.length}}
                    Configurations: {{sink.configs.length}}
                  {{else}}
                    Configuration not available!
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#if this.configsHash.outputs.length}}
        <div class="column-container">
          <div class="link"></div>
          <div class="box">
            <div class="header">Outputs</div>
            {{#each this.configsHash.outputs as |output|}}
              <div class="config-cell {{if (eq output this.configDetails) 'selected'}}"
                {{action 'showConf' 'outputs' output}}>
                {{output.desc}}
                <div class="count-txt">
                  {{#if output.configs.length}}
                    Configurations: {{output.configs.length}}
                  {{else}}
                    Configuration not available!
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
  </div><div class="configuration-details">

    {{#if this.configType}}
      {{!-- Configuration details display --}}
      <table class='detail-list'>
        <thead>
        <tr>
          <th colspan="2">Details</th>
        </tr>
        </thead>
        <tbody>
        {{#if this.configDetails.name}}
          <tr>
            <td>Name</td>
            <td>{{this.configDetails.name}}</td>
          </tr>
        {{/if}}
        {{#if this.configDetails.desc}}
          <tr>
            <td>Description</td>
            <td>{{this.configDetails.desc}}</td>
          </tr>
        {{/if}}
        {{#if this.configDetails.class}}
          <tr>
            <td>Class</td>
            <td>{{this.configDetails.class}}</td>
          </tr>
        {{/if}}
        {{#if this.configDetails.initializer}}
          <tr>
            <td>Initializer</td>
            <td>{{this.configDetails.initializer}}</td>
          </tr>
        {{/if}}
        </tbody>
      </table>

      {{!-- Configurations display --}}
      <EmTable @columns={{this.columns}} @rows={{this.configs}} @rowCount={{this.configs.length}} @definition={{this.definition}} @enablePagination={{false}} @searchAction="searchChanged" @sortAction="sortChanged" />
    {{/if}}
  </div>

{{else}}
  <Loading/>
{{/if}}
