{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="margin-small-vertical">
  {{load-time-component
    isRefreshable=isRefreshable
    time=timeStamp
    refresh='refresh'
  }}
</div>
<div class='type-table margin-small-horizontal fill-full'>

  <div class="horizontal-half align-children-left">
    <table class='detail-list'>
       <thead>
         <tr>
           <th colspan=2>Vertex description</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vertex ID</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>Vertex Name</td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>Processor Class</td>
          <td>{{processorClassName}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-top: 20px;">
    <table class='detail-list'>
       <thead>
         <tr>
           <th colspan=2>Vertex details</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{t 'common.status'}}</td>
          <td>
            <i {{bind-attr class=':task-status iconStatus'}}></i>
            {{status}}
            {{#if progressStr}} {{bs-badge content=progressStr}}{{/if}}
          </td>
        </tr>
        <tr>
          <td>{{t 'common.time.start'}}</td>
          <td>{{formatUnixTimestamp startTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.end'}}</td>
          <td>{{formatUnixTimestamp endTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.duration'}}</td>
          <td>{{formatDuration startTime endTime}}</td>
        </tr>
        {{#if hasFirstTaskStarted}}
          <tr>
            <td>First Task Start Time</td>
            <td>{{formatUnixTimestamp firstTaskStartTime}}
              [
              {{#each taskid in firstTasksToStart}}
                {{#if _view.contentIndex}} | {{/if}}
                {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}
              {{/each}}
              ]
            </td>
          </tr>
        {{/if}}
        {{#if hasLastTaskFinished}}
          <tr>
            <td>Last Task Finish Time</td>
            <td>{{formatUnixTimestamp lastTaskFinishTime}}
              [
              {{#each taskid in lastTasksToFinish}}
                {{#if _view.contentIndex}} | {{/if}}
                {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}
              {{/each}}
              ]
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>

  {{#if hasStats}}
    <div style="padding-top: 20px;">
      <table class='detail-list'>
        <thead>
          <tr>
            <th colspan=2>Tasks of this Vertex</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Tasks</td>
            <td>{{numTasks}}</td>
          </tr>
          <tr>
            <td>Successful Tasks</td>
            <td>{{sucessfulTasks}}</td>
          </tr>
          <tr>
            <td>Failed Tasks</td>
            <td>
              {{failedTasks}}
            </td>
              {{#if hasFailedTasks}}
                <a href='{{unbound failedTasksLink}}'>FailedTasks</a>
              {{/if}}
          </tr>
          <tr>
            <td>Killed Tasks</td>
            <td>{{killedTasks}}</td>
          </tr>

          {{#if avgTaskDuration}}
            <tr>
              <td>Average Duration</td>
              <td>{{formatTimeMillis avgTaskDuration}}</td>
            </tr>
          {{/if}}
          {{#if minTaskDuration}}
            <tr>
              <td>Minimum Duration</td>
              <td>{{formatTimeMillis minTaskDuration}}
                [
                {{#each taskid in shortestDurationTasks}}
                  {{#if _view.contentIndex}} | {{/if}}
                  {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}
                {{/each}}
                ]
              </td>
            </tr>
          {{/if}}
          {{#if maxTaskDuration}}
            <tr>
              <td>Maximum Duration</td>
              <td>{{formatTimeMillis maxTaskDuration}}
                [
                {{#each taskid in longestDurationTasks}}
                  {{#if _view.contentIndex}} | {{/if}}
                  {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}
                {{/each}}
                ]
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  {{/if}}

</div>

{{#if diagnostics}}
  <div class="margin-small-vertical">
    {{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger'}}
      {{formatDiagnostics diagnostics}}
    {{/bs-panel}}
  </div>
{{/if}}
