{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan="2">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vertex ID</td>
        <td>{{this.model.entityID}}</td>
      </tr>
      <tr>
        <td>Vertex Name</td>
        <td>{{this.model.name}}</td>
      </tr>
      <tr>
        <td>Processor Class</td>
        <td>{{this.model.processorClassName}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td><EmTableStatusCell @content={{this.model.finalStatus}} /></td>
      </tr>
      <tr>
        <td>Progress</td>
        <td><EmTableProgressCell @content={{this.model.progress}} /></td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td><DateFormatter @content={{this.model.startTime}} /></td>
      </tr>
      <tr>
        <td>End Time</td>
        <td><DateFormatter @content={{this.model.endTime}} /></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt this.model.duration type="duration"}}</td>
      </tr>
    </tbody>
  </table>

  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan="2">Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total Tasks</td>
        <td><StatsLink @value={{this.model.totalTasks}} @routeName="vertex.tasks" /></td>
      </tr>
      <tr>
        <td>Succeeded Tasks</td>
        <td><StatsLink @value={{this.model.succeededTasks}} @routeName="vertex.tasks" @statsType="SUCCEEDED" /></td>
      </tr>
      <tr>
        <td>Failed Tasks</td>
        <td><StatsLink @value={{this.model.failedTasks}} @routeName="vertex.tasks" @statsType="FAILED" /></td>
      </tr>
      <tr>
        <td>Killed Tasks</td>
        <td><StatsLink @value={{this.model.killedTasks}} @routeName="vertex.tasks" @statsType="KILLED" /></td>
      </tr>
      <tr>
        <td>Failed Task Attempts</td>
        <td><StatsLink @value={{this.model.failedTaskAttempts}} @routeName="vertex.attempts" @statsType="FAILED" /></td>
      </tr>
      <tr>
        <td>Killed Task Attempts</td>
        <td><StatsLink @value={{this.model.killedTaskAttempts}} @routeName="vertex.attempts" @statsType="KILLED" /></td>
      </tr>
      <tr>
        <td>First Task Start Time</td>
        <td>
          <DateFormatter @content={{this.model.firstTaskStartTime}} />
          {{#if this.firstTasksToStart}}
            [<EmTableLinkedCell @content={{this.firstTasksToStart}} />]
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Last Task Finish Time</td>
        <td>
          <DateFormatter @content={{this.model.lastTaskFinishTime}} />
          {{#if this.lastTasksToFinish}}
            [<EmTableLinkedCell @content={{this.lastTasksToFinish}} />]
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Average Duration</td>
        <td>
          {{txt this.model.avgDuration type="duration"}}
        </td>
      </tr>
      <tr>
        <td>Minimum Duration</td>
        <td>
          {{txt this.model.minDuration type="duration"}}
          {{#if this.shortestDurationTasks}}
            [<EmTableLinkedCell @content={{this.shortestDurationTasks}} />]
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Maximum Duration</td>
        <td>
          {{txt this.model.maxDuration type="duration"}}
          {{#if this.longestDurationTasks}}
            [<EmTableLinkedCell @content={{this.longestDurationTasks}} />]
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>

  {{!-- Service plugin specific details --}}
  {{#if this.model.servicePlugin.taskSchedulerName}}
    <table class='detail-list'>
      <thead>
      <tr>
        <th colspan="2">Service Plugin Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Task Scheduler Plugin</td>
        <td>{{txt this.model.servicePlugin.taskSchedulerName}} [ {{txt this.model.servicePlugin.taskSchedulerClassName}} ]</td>
      </tr>
      <tr>
        <td>Task Communicator Plugin</td>
        <td>{{txt this.model.servicePlugin.taskCommunicatorName}} [ {{txt this.model.servicePlugin.taskCommunicatorClassName}} ]</td>
      </tr>
      <tr>
        <td>Container Launcher Plugin</td>
        <td>{{txt this.model.servicePlugin.containerLauncherName}} [ {{txt this.model.servicePlugin.containerLauncherClassName}} ]</td>
      </tr>
      </tbody>
    </table>
  {{/if}}

  {{#if this.model.description}}
    <div class="panel panel-info">
      <div class="panel-heading">
        Description
      </div>
      <div class="panel-body">
        {{this.model.description}}
      </div>
    </div>
  {{/if}}

  {{#if this.model.diagnostics}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        Diagnostics
      </div>
      <div class="diagnostics">
        {{this.model.diagnostics}}
      </div>
    </div>
  {{/if}}

{{else}}
  <Loading/>
{{/if}}
