{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class='type-table margin-small-horizontal fill-full'>

  <div class="horizontal-half align-children-left">
    <table class='detail-list'>
      <tbody>
        <tr>
          <td>Vertex Name</td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>{{t 'common.status'}}</td>
          <td>
            <i {{bind-attr class=':task-status iconStatus'}}></i>
            {{status}}
          </td>
        </tr>
        <tr>
          <td>Total Tasks</td>
          <td>{{numTasks}}</td>
        </tr>
        <tr>
          <td>Successful Tasks</td>
          <td>{{sucessfulTasks}}</td>
        </tr>
        <tr>
          <td>Failed Tasks</td>
          <td>
            {{failedTasks}}
          </td>
          <td>
            {{#if hasFailedTasks}}
              <a href='{{unbound failedTasksLink}}'>FailedTasks</a>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>Killed Tasks</td>
          <td>{{killedTasks}}</td>
        </tr>
        {{#if hasFirstTaskStarted}}
          <tr>
            <td>First Task Start Time</td>
            <td>{{formatUnixTimestamp firstTaskStartTime}}
            <td>
              {{#each taskid in firstTasksToStart}}
                {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}<br/>
              {{/each}}
            </td>
          </tr>
        {{/if}}
        {{#if hasLastTaskFinished}}
          <tr>
            <td>Last Task Finish Time</td>
            <td>{{formatUnixTimestamp lastTaskFinishTime}}
            <td>
              {{#each taskid in lastTasksToFinish}}
                {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}<br/>
              {{/each}}
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div><div class="horizontal-half align-children-left" style="vertical-align: top; padding-left: 50px;">
    <table class='detail-list inline-block'>
      <tbody>
        <tr>
          <td>{{t 'common.time.start'}}</td>
          <td>{{formatUnixTimestamp startTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.end'}}</td>
          <td>{{formatUnixTimestamp endTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.duration'}}</td>
          <td>{{formatDuration startTime endTime}}</td>
        </tr>
        <tr>
          <td>Processor Class</td>
          <td>{{processorClassName}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{#if hasStats}}
    <div style="padding-top: 20px;">
      <table class='detail-list'>
        <thead>
          <tr>
            <th>Task Stats</th>
          </tr>
        </thead>
        <tbody>
          {{#if avgTaskDuration}}
            <tr>
              <td>Average Duration</td>
              <td>{{formatTimeMillis avgTaskDuration}}</td>
            </tr>
          {{/if}}
          {{#if minTaskDuration}}
            <tr>
              <td>Minimum Duration</td>
              <td>{{formatTimeMillis minTaskDuration}}</td>
              <td>
                {{#each taskid in shortestDurationTasks}}
                  {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}<br/>
                {{/each}}
              </td>
            </tr>
          {{/if}}
          {{#if maxTaskDuration}}
            <tr>
              <td>Maximum Duration</td>
              <td>{{formatTimeMillis maxTaskDuration}}</td>
              <td>
                {{#each taskid in longestDurationTasks}}
                  {{#link-to 'task' taskid}}{{taskid}}{{/link-to}}<br/>
                {{/each}}
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  {{/if}}

</div>

{{#if diagnostics}}
  {{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger'}}
    {{formatDiagnostics diagnostics}}
  {{/bs-panel}}
{{/if}}