<div class='type-table fill-full margin-small-horizontal'>
	<div class='align-left'>
		<table class='detail-list'>
			<tbody>
				<tr>
					<td>{{t common.status}}</td>
					<td>
						{{status}}
						<i {{bind-attr class=':task-status taskIconStatus'}}></i>
					</td>
				</tr>
				<tr>
					<td>Container</td>
					<td>{{containerId}}</td>
				</tr>
        <tr>
          <td>Node</td>
          <td>{{nodeId}}</td>
        </tr>
			</tbody>
		</table>
	</div>
	<div class='align-right'>
		<table class='detail-list'>
			<tbody>
				<tr>
					<td>{{t common.time.start}}</td>
					<td>{{formatUnixTimestamp startTime}}</td>
				</tr>
				<tr>
					<td>{{t common.time.end}}</td>
					<td>{{formatUnixTimestamp endTime}}</td>
				</tr>
				<tr>
					<td>{{t common.time.duration}}</td>
					<td>{{formatDuration startTime endTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{{#if diagnostics}}
	{{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger'}}
    {{formatDiagnostics diagnostics}}
	{{/bs-panel}}
{{/if}}