{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="margin-small-vertical">
  {{load-time-component
    isRefreshable=isRefreshable
    time=timeStamp
    refresh='refresh'
  }}
</div>
<div class='type-table fill-full margin-small-horizontal'>
  <div style="padding-top: 20px;">
    <table class='detail-list'>
       <thead>
         <tr>
            <th colspan=2>Tez Application Description</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>Application Tracking URL</td>
          <td><a target="_blank" {{bind-attr href=rmTrackingURL}}>{{unbound appId}}</a></td>
        </tr>
        {{#if appDetail}}
        <tr>
          <td>Application Name</td>
          <td>
            {{appDetail.name}}
          </td>
        </tr>
        <tr>
          <td>Application Attempt Id</td>
          <td>{{appDetail.attemptId}}</td>
        </tr>
        <tr>
          <td>Queue</td>
          <td>
            {{appDetail.queue}}
          </td>
        </tr>
        <tr>
          <td>Application Type</td>
          <td>{{appDetail.type}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>User</td>
          <td>{{appUser}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{#if appDetail}}
    <div style="padding-top: 20px;">
      <table class='detail-list'>
        <thead>
           <tr>
              <th colspan=2>Tez Application Details</th>
           </tr>
        </thead>
        <tbody>
          <tr>
            <td>Application State</td>
            <td>
              {{appDetail.appState}}
            </td>
          </tr>
          <tr>
            <td>Final Application Status</td>
            <td>
              {{#if appDetail.appState}}
              <i {{bind-attr class=':task-status iconStatus'}}></i> {{appDetail.finalAppStatus}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>{{t 'common.time.start'}}</td>
            <td>{{formatUnixTimestamp appDetail.startedTime}}</td>
          </tr>
          <tr>
            <td>{{t 'common.time.end'}}</td>
            <td>{{formatUnixTimestamp appDetail.finishedTime}}</td>
          </tr>
          <tr>
            <td>{{t 'common.time.duration'}}</td>
            <td>{{formatDuration appDetail.startedTime appDetail.finishedTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}

  {{#if tezVersion}}
    <div style="padding-top: 20px;">
      <table class='detail-list'>
        <thead>
           <tr>
              <th colspan=2>Tez Version Details</th>
           </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tez Version</td>
            <td>
              {{tezVersion}}
            </td>
          </tr>
          <tr>
            <td>Build Revision</td>
            <td>
              {{tezRevision}}
            </td>
          </tr>
          <tr>
            <td>Build Time</td>
            <td>
              {{tezBuildTime}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}

  {{#unless appDetail}}
    <div class="alert alert-info margin-medium-vertical">
      <strong>Info!</strong> Could not fetch application info from RM (yarn system metrics publishing might be disabled), some details might be missing
    </div>
  {{/unless}}

</div>

{{#if diagnostics}}
  <div class="margin-small-vertical">
    {{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger'}}
      {{formatDiagnostics diagnostics}}
    {{/bs-panel}}
  </div>
{{/if}}
