{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan="2">Details</th>
      </tr>
    </thead>

    <tbody>
    <tr>
      <td>Query ID</td>
      <td>{{txt this.model.entityID}}</td>
    </tr>
    <tr>
      <td>User</td>
      <td>{{txt this.model.requestUser}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td><EmTableStatusCell @content={{this.model.status}} /></td>
    </tr>
    <tr>
      <td>Start Time</td>
      <td><DateFormatter @content={{this.model.startTime}} /></td>
    </tr>
    <tr>
      <td>End Time</td>
      <td><DateFormatter @content={{this.model.endTime}} /></td>
    </tr>
    <tr>
      <td>Duration</td>
      <td>{{txt this.model.duration type="duration"}}</td>
    </tr>
    <tr>
      <td>Application ID</td>
      <td>
        <LinkTo @route="app" @model={{this.model.dag.firstObject.appID}} class="ember-table-content">
          {{this.model.dag.firstObject.appID}}
        </LinkTo>
      </td>
    </tr>
    <tr>
      <td>DAG ID</td>
      <td>
        <LinkTo @route="dag" @model={{this.model.dag.firstObject.entityID}} class="ember-table-content">
          {{this.model.dag.firstObject.entityID}}
        </LinkTo>
      </td>
    </tr>
    <tr>
      <td>Session ID</td>
      <td>{{txt this.model.sessionID}}</td>
    </tr>
    {{#if this.model.llapAppID}}
      <tr>
        <td>LLAP App ID</td>
        <td>{{txt this.model.llapAppID}}</td>
      </tr>
    {{/if}}
    <tr>
      <td>Thread Name</td>
      <td>{{txt this.model.threadName}}</td>
    </tr>
    <tr>
      <td>Queue</td>
      <td>{{txt this.model.queue}}</td>
    </tr>
    </tbody>
  </table>

  <table class='detail-list'>
    <thead>
    <tr>
      <th colspan="2">Hive Details</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Tables Read</td>
      <td>{{txt this.model.tablesRead}}</td>
    </tr>
    <tr>
      <td>Tables Written</td>
      <td>{{txt this.model.tablesWritten}}</td>
    </tr>
    <tr>
      <td>Client Address</td>
      <td>{{txt this.model.clientAddress}}</td>
    </tr>
    <tr>
      <td>Execution Mode</td>
      <td>{{txt this.model.executionMode}}</td>
    </tr>
    <tr>
      <td>Hive Address</td>
      <td>{{txt this.model.hiveAddress}}</td>
    </tr>
    <tr>
      <td>Client Type</td>
      <td>{{txt this.model.instanceType}}</td>
    </tr>
    </tbody>
  </table>

  <CallerInfo @title="Query Text" @type="Hive" @info={{this.model.queryText}} />

{{else}}
  <Loading/>
{{/if}}
