{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#each _contents as |content|}}

  <div class="bubble-container">
    <div class="bubble">
      {{#if content.title}}{{show_}}
        <div class="tip-title">{{content.title}}</div>
      {{/if}}
      {{#if content.description}}
        <div class="tip-desc">{{content.description}}</div>
      {{/if}}
      {{#if content.properties}}
        <div class="tip-props">
          <table>
            {{#each content.properties as |prop|}}
              <tr>
                <td>
                  {{prop.name}}
                </td>
                <td>
                  {{txt prop.value
                  type=prop.type
                  format=prop.format
                  timeZone=prop.timeZone
                  valueFormat=prop.valueFormat
                  valueTimeZone=prop.valueTimeZone
                  valueUnit=prop.valueUnit}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      {{/if}}
    </div>
  </div>

{{/each}}
