{{partial "utils/pageHeader"}}
{{#unless loading}}
	<div class='margin-small-horizontal'>
		{{#link-to 'dags'}}
			<i class='fa-arrow-circle-left fa fa-2x'>
				<span style='font-size: 85%'>&nbsp;Dags</span>
			</i>
		{{/link-to}}
	</div>

	<div class='type-table fill-full margin-small'>
		<div class='align-left'>

			<table class='detail-list'>
				<tbody>
					<tr>
						<td>{{t common.id}}</td>
						<td>{{id}}</td>
					</tr>
					<tr>
						<td>{{t common.applicationId}}</td>
						<td>{{applicationId}}</td>
					</tr>
					<tr>
						<td>{{t common.user}}</td>
						<td>{{user}}</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class='pill-container align-right'>
			{{bs-pills contentBinding='childDisplayViews' selectedBinding='childDisplayViewSelected' size='lg'}}
		</div>

	</div>
	<div class='margin-small'>
		{{outlet}}
	</div>
{{else}}
		{{partial 'utils/loadingSpinner'}}	
{{/unless}}