{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<ul class="page-list">
  <li {{bind-attr class="view.atFirst::clickable"}} {{action 'changePage' 1}}>
    First page
  </li>
  {{#each page in view._possiblePages}}
    <li {{bind-attr class="page.isCurrent:is-current:clickable"}} {{action 'changePage' page.pageNum}}>
      {{page.pageNum}}
    </li>
  {{/each}}
  <li {{bind-attr class="view.atLast::clickable"}} {{action 'changePage' view.totalPages}}>
    Last page - {{view.totalPages}}
  </li>
</ul>
<div class='row-select'>
  <div>Rows</div>
  {{view Ember.Select
    content=rowCountOptions
    value=rowCount
  }}
</div>
