{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan=2>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          {{bs-button icon="fa fa-download" title="Download data" defaultText="Download data" type="info" action="downloadDagJson"}}
        </td>
      </tr>
      <tr>
        <td>Application ID</td>
        <td>
          {{#link-to 'app' model.appID class='ember-table-content'}}
            {{model.appID}}
          {{/link-to}}
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{model.entityID}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{model.name}}</td>
      </tr>
      <tr>
        <td>Submitter</td>
        <td>{{model.submitter}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{em-table-status-cell content=model.status}}</td>
      </tr>
      <tr>
        <td>Progress</td>
        <td>{{em-table-progress-cell content=model.progress}}</td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td>{{date-formatter content=model.startTime}}</td>
      </tr>
      <tr>
        <td>End Time</td>
        <td>{{date-formatter content=model.endTime}}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt model.duration type="duration"}}</td>
      </tr>
      <tr>
        <td>Logs</td>
        <td>
          {{em-table-linked-cell content=model.containerLogs}}
        </td>
      </tr>
    </tbody>
  </table>
{{else}}
  {{partial "loading"}}
{{/if}}

<!--
  * Splitting the conditional blocks so that stats from inside the outlet,
    is aligned with the details table.
  * Keeping outlet outside the conditional block so that the loading of DAG
    details doesn’t affect the outlet content.
-->
<span class="{{unless loaded 'no-visible'}}">
  {{outlet}}
</span>

{{#if loaded}}
  {{#if model.callerDescription}}
    {{caller-info type=model.callerContext info=model.callerDescription}}
  {{/if}}

  {{#if model.diagnostics}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        Diagnostics
      </div>
      <div class="diagnostics">
        {{{model.diagnostics}}}
      </div>
    </div>
  {{/if}}
{{/if}}
