{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="margin-small-vertical">
  {{load-time-component
    isRefreshable=isRefreshable
    time=timeStamp
    refresh='refresh'
  }}
</div>
<div class='type-table fill-full margin-small-horizontal'>
  <div class='align-left'>
    <table class='detail-list'>
       <thead>
         <tr>
            <th colspan=2>DAG Details</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {{bs-button icon="fa fa-download" title="Download data" type="info" clicked="downloadDagJson"}}
          </td>
        </tr>
        <tr>
          <td>{{t 'common.applicationId'}}</td>
          <td>
            {{#if controllers.dag.enableAppIdLink}}
              {{#link-to 'tez-app' applicationId class='ember-table-content'}}{{applicationId}}{{/link-to}}
            {{else}}
              <span class='ember-table-content'>{{applicationId}}</span>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>{{t 'common.id'}}</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>{{t 'common.user'}}</td>
          <td>{{user}}</td>
        </tr>
        <tr>
          <td>{{t 'common.status'}}</td>
          <td>
            <i {{bind-attr class=':task-status taskIconStatus'}}></i> {{status}}
            {{#if progressStr}} {{bs-badge content=progressStr}}{{/if}}
            {{#if hasFailedTasks}}
              [ <a href='{{unbound failedTasksLink}}'>Failed Tasks</a> ]
            {{/if}}
            {{#if hasFailedTaskAttempts}}
              [ <a href='{{unbound failedTaskAttemptsLink}}'>Failed TaskAttempts</a> ]
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>{{t 'common.time.start'}}</td>
          <td>{{formatUnixTimestamp startTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.end'}}</td>
          <td>{{formatUnixTimestamp endTime}}</td>
        </tr>
        <tr>
          <td>{{t 'common.time.duration'}}</td>
          <td>{{formatDuration startTime endTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#if liveData}}
  <br/>
  <h4>DAG Progress
    ( Vertices {{completedVertices}}/{{liveData.length}} )
    {{#if totalTasks}}
      ( Tasks {{succeededTasks}}/{{totalTasks}} )
    {{/if}}
    :
    {{progressStr}}
  </h4>
  {{bs-progress-animated progressDecimal=progress}}

  {{basic-table-component
    columns=liveColumns
    rows=liveData
    rowCount=liveData.length

    enableStatus=false
    enableSort=true
  }}
{{/if}}

{{#if diagnostics}}
  <div class="margin-small-vertical">
    {{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger'}}
      {{formatDiagnostics diagnostics}}
    {{/bs-panel}}
  </div>
{{/if}}

{{#if appContext}}
  <div class='margin-small-vertical code-mirror-container'>
    {{#bs-panel heading=appContextHeading collapsible=false dismiss=false type='info'}}
      {{code-mirror value=appContext mode=appInfoContextType classNames='additional-dag-info'}}
    {{/bs-panel}}
  </div>
{{/if}}
