{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan="2">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
        <button type="button" class="btn btn-info" {{action "downloadDag"}}>
          <i class='fa fa-download'></i> Download data
        </button>
        </td>
      </tr>
      <tr>
        <td>Application ID</td>
        <td>
          <LinkTo @route="app" @model={{this.model.appID}} class="ember-table-content">
            {{this.model.appID}}
          </LinkTo>
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{this.model.entityID}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{this.model.name}}</td>
      </tr>
      <tr>
        <td>Submitter</td>
        <td>{{this.model.submitter}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td><EmTableStatusCell @content={{this.model.finalStatus}} /></td>
      </tr>
      <tr>
        <td>Progress</td>
        <td><EmTableProgressCell @content={{this.model.progress}} /></td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td><DateFormatter @content={{this.model.startTime}} /></td>
      </tr>
      <tr>
        <td>End Time</td>
        <td><DateFormatter @content={{this.model.endTime}} /></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt this.model.duration type="duration"}}</td>
      </tr>
      <tr>
        <td>Queue</td>
        <td>{{txt this.model.queue}}</td>
      </tr>
      <tr>
        <td>Logs</td>
        <td>
          <EmTableLinkedCell @content={{this.model.containerLogs}} @definition={{this.logLinkDefinition}} />
        </td>
      </tr>
    </tbody>
  </table>
{{else}}
  <Loading/>
{{/if}}

{{!--
  * Splitting the conditional blocks so that stats from inside the outlet,
    is aligned with the details table.
  * Keeping outlet outside the conditional block so that the loading of DAG
    details doesn’t affect the outlet content.
--}}
<span class="{{unless this.loaded 'no-visible'}}">
  {{outlet}}
</span>

{{#if this.loaded}}
  {{#if this.model.callerDescription}}
    <CallerInfo @type={{this.model.callerContext}} @info={{this.model.callerDescription}} />
  {{/if}}

  {{#if this.model.diagnostics}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        Diagnostics
      </div>
      <div class="diagnostics">
        {{this.model.diagnostics}}
      </div>
    </div>
  {{/if}}
{{/if}}
