{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#unless loading}}
  <div class='margin-small'>
    <span class="left-divider align-right">
      <i {{bind-attr class=':fa-action :fa-cog'}} {{action 'selectColumns'}}></i>
    </span>
    <span class='align-right'>
      {{page-nav-component
        hasPrev=hasPrev
        hasNext=hasNext
        navNext='navigateNext'
        navPrev='navigatePrev'
        navFirst='navigateFirst'
      }}
    </span>
    <div class='align-clear'> </div>
  </div>

  <div class='table-container'>
  {{extended-table-component
    hasFooter=false
    enableContentSelection=true
    columnsBinding="columns"
    contentBinding="sortedContent"
    forceFillColumns=true
    hasFilter=true
    onFilterUpdated='filterUpdated'
  }}
  </div>
{{else}}
  {{partial 'partials/loading-spinner'}}
{{/unless}}