{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="selection-list">
  <div class="filter-option highlight">
    <div class="form-group">
      <Input class="form-control" aria-label="Filter columns" placeholder="Filter..." @value={{this.searchText}} />
    </div>
    <div class="select-all">
      <input type="checkbox" aria-label="Select or deselect all columns"
             checked={{this.selectAll}}
             onclick={{action "selectAllAction" value="target.checked" bubbles=false}} />
      &nbsp;Select All
    </div>
  </div>
  <div class="options">
    {{#if this.filteredOptions.length}}
      {{#each this.filteredOptions as |filteredOption|}}
        <div class="select-option {{filteredOption.css}}">
          <Input @type="checkbox" aria-label="Select or deselect column" class="checkbox" @checked={{filteredOption.selected}} />
          {{filteredOption.displayText}}
        </div>
      {{/each}}
    {{else}}
      <h4>&nbsp;No options available...</h4>
    {{/if}}
  </div>
</div>
<div class="form-actions">
  <span class="message">
    {{this.content.message}}
  </span>
  <button type="button" class="btn btn-primary" {{action "ok"}} data-dismiss="modal" aria-label="Close">Ok</button>
  <button type="button" class="btn" aria-label="Close" {{action "mycloseModal"}}>Cancel</button>
</div>
