{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="form-group">
  <div class="search-element dag-name">
    <label>DAG Name:
    <Input @value={{this.dagName}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div><div class="search-element">
    <label>ID:
    <Input @value={{this.dagID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div><div class="search-element">
    <label>Submitter:
    <Input @value={{this.submitter}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div><div class="search-element">
    <label>Status:
    <select value={{this.status}}
        class="form-control input-sm"
        onchange={{action "statusChanged" value="target.value"}}
        {{action "statusKeyPress" on="keyPress"}}>
      <option value="">All</option>
      <option value="SUBMITTED">Submitted</option>
      <option value="RUNNING">Running</option>
      <option value="SUCCEEDED">Succeeded</option>
      <option value="FAILED">Failed</option>
      <option value="KILLED">Killed</option>
      <option value="ERROR">Error</option>
    </select>
    </label>
  </div><div class="search-element">
    <label>Application ID:
    <Input @value={{this.appID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div><div class="search-element">
    <label>Queue:
    <Input @value={{this.queue}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div><div class="search-element">
    <label>Caller ID:
    <Input @value={{this.callerID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter={{this.dagSearch}} />
    </label>
  </div>
</div>
<button type="button" class="btn btn-success" {{action 'dagSearch'}}>
  <i class="fa fa-search" aria-hidden="true"></i>
</button>
