{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.isWaiting}}
  Waiting...
{{else}}
  {{#if this.columnDefinition.cellComponentName}}
    {{component this.columnDefinition.cellComponentName content=this._cellContent definition=this.columnDefinition.cellDefinition}}
  {{else}}
    {{#unless this.columnDefinition.cellDefinition}}
      {{txt this._cellContent}}
    {{else}}
      {{txt this._cellContent
        type=this.columnDefinition.cellDefinition.type
        format=this.columnDefinition.cellDefinition.format
        timeZone=this.columnDefinition.cellDefinition.timeZone
        valueFormat=this.columnDefinition.cellDefinition.valueFormat
        valueTimeZone=this.columnDefinition.cellDefinition.valueTimeZone
        valueUnit=this.columnDefinition.cellDefinition.valueUnit
      }}
    {{/unless}}
  {{/if}}
  {{#if this._comment}}
    <div title="{{this._comment}}" class="comment-indicator"></div>
  {{/if}}
{{/if}}
