{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<ul class="page-list">
  {{#if this.showFirst}}
    <li title="Go to first page" class="clickable" {{action 'changePage' 1}}>
      First
    </li>
  {{/if}}
  {{#each this._possiblePages as |page|}}
    <li class="{{if page.isCurrent 'is-current' 'clickable'}}" {{action 'changePage' page.pageNum}}>
      {{page.pageNum}}
    </li>
  {{/each}}
  {{#if this.showLast}}
    <li title="Go to last page, {{this.dataProcessor.totalPages}} page(s) available in total"  class="clickable" {{action 'changePage' this.dataProcessor.totalPages}}>
      Last - {{this.dataProcessor.totalPages}}
    </li>
  {{/if}}
</ul>

<div class='row-select'>
  <select title="Select rows to display" class="form-control" onchange={{action "rowSelected" value="target.value"}} aria-label="Number of rows per page">
    {{#each this.rowCountOptions as |rowCountOption|}}
      {{#if rowCountOption.selected}}
        <option value={{rowCountOption.value}} selected>
        {{rowCountOption.value}} Rows
        </option>
      {{else}}
        <option value={{rowCountOption.value}}>
        {{rowCountOption.value}} Rows
        </option>
      {{/if}}
    {{/each}}
  </select>
</div>
