{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<ul class="page-list">
  {{#if showFirst}}
    <li title="Go to first page" class="clickable" {{action 'changePage' 1}}>
      First
    </li>
  {{/if}}
  {{#each _possiblePages as |page|}}
    <li class="{{if page.isCurrent 'is-current' 'clickable'}}" {{action 'changePage' page.pageNum}}>
      {{#if page.isLoadPage}}
        {{#if tableDefinition.loadingMore}}
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        {{else}}
          {{page.pageNum}}
        {{/if}}
      {{else}}
        {{page.pageNum}}
      {{/if}}
    </li>
  {{/each}}
</ul>

<div class='row-select'>
  <select title="Select rows to display" class="form-control" onchange={{action "rowSelected" value="target.value"}}>
    {{#each rowCountOptions as |option|}}
      <option value={{option.value}} selected={{option.selected}}>
        {{option.value}} Rows
      </option>
    {{/each}}
  </select>
</div>
