{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="form-group">
  <div class="search-element">
    <label>Query ID:
    <Input @value={{this.queryID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>User:
    <Input @value={{this.requestUser}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>DAG ID:
    <Input @value={{this.dagID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>Tables Read:
    <Input @value={{this.tablesRead}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>Tables Written:
    <Input @value={{this.tablesWritten}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>App ID:
    <Input @value={{this.appID}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>Queue:
    <Input @value={{this.queue}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div><div class="search-element">
    <label>Execution Mode:
    <Input @value={{this.executionMode}} @type="text" class="form-control input-sm" placeholder="Search..." @enter="search" />
    </label>
  </div>
</div>
<button type="button" class="btn btn-success" {{action 'search'}}>
  <i class="fa fa-search" aria-hidden="true"></i>
</button>
