{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="message">
  {{#if this.content.downloader.failed}}
    <i class="fa fa-lg fa-exclamation-circle error"></i>
    Error downloading data!
  {{else}}{{#if (and this.content.downloader.partial this.content.downloader.succeeded)}}
    <i class="fa fa-lg fa-exclamation-circle warning"></i>
    Data downloaded might be incomplete. Please check the zip!
  {{else}}
    Downloading data for dag: <b>{{this.content.dag.entityID}}</b>
    <EmProgress @value={{this.content.downloader.percent}} @striped={{true}} />
    {{this.content.downloader.message}}
  {{/if}}{{/if}}
</div>


<div class="form-actions">
  {{#if (or this.content.downloader.failed this.content.downloader.partial)}}
    <button type="button" class="btn btn-primary" aria-label="Close" {{action "closeModal"}}>Ok</button>
  {{else}}
    <button type="button" class="btn" aria-label="Close" {{action "cancel"}}>Cancel</button>
  {{/if}}
</div>
