{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="margin-small-vertical">
  {{load-time-component
    isRefreshable=isRefreshable
    time=timeStamp
    refresh='refresh'
  }}
</div>
<div class='type-table fill-full margin-small-horizontal'>
	<div class='align-left'>
		<table class='detail-list'>
 			<thead>
 			        <tr>
 			           <th colspan=2>Task Details</th>
 			        </tr>
 			</thead>
			<tbody>
				<tr>
 					<td>Task ID</td>
					<td>{{id}}</td>
				</tr>
				<tr>
					<td>Vertex ID</td>
					<td>{{vertexID}}</td>
				</tr>
				<tr>
					<td>{{t 'common.status'}}</td>
					<td>
						<i {{bind-attr class=':task-status taskIconStatus'}}></i> {{taskStatus}}
					</td>
				</tr>
        {{#if progress}}
        <tr>
          <td>Progress</td>
          <td>{{bs-progress-animated progressDecimal=progress}}</td>
        </tr>
        {{/if}}
				<tr>
					<td>{{t 'common.time.start'}}</td>
					<td>{{formatUnixTimestamp startTime}}</td>
				</tr>
				<tr>
					<td>{{t 'common.time.end'}}</td>
					<td>{{formatUnixTimestamp endTime}}</td>
				</tr>
				<tr>
					<td>{{t 'common.time.duration'}}</td>
					<td>{{formatDuration startTime endTime}}</td>
				</tr>
        <tr>
          <td>Logs</td>
          <td>
            {{#if logsLink.viewUrl}}
              <a target="_blank" href='//{{unbound logsLink.viewUrl}}'>View</a>
              &nbsp;
            {{/if}}
            {{#if logsLink.downloadUrl}}
              <a target="_blank" href='{{unbound logsLink.downloadUrl}}' download type="application/octet-stream">Download</a>
            {{/if}}
            {{#unless logsLink.viewUrl}}
              {{#unless logsLink.downloadUrl}}
                <span class="message">Not Available!</span>
              {{/unless}}
            {{/unless}}
          </td>
        </tr>
			</tbody>
		</table>
	</div>
</div>

{{#if diagnostics}}
	<div class="margin-small-vertical">
		{{#bs-panel heading="Diagnostics" collapsible=false dismiss=false type='danger' class="margin-medium-vertical"}}
			{{formatDiagnostics diagnostics}}
		{{/bs-panel}}
	</div>
{{/if}}
