{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="message">
  {{{view.message}}}
</div>
<div class="selection-list">
  <div class="search-option highlight">
    <div {{bind-attr class=":form-group view._validRegEx::has-error"}}>
      {{input
        class="form-control"
        placeholder="Filter options"
        value=view.searchRegex
      }}
    </div>
    <div class="select-all">
      {{view App.Checkbox
        classNames='inline-display checkbox'
        checked=view.selectAll
        action='selectAll'
        target=view
      }}
      Select All
    </div>
  </div>
  {{#if view.visibleOptions.length}}
    {{#each option in view.visibleOptions}}
      <div class="select-option {{unbound option.css}}"}}>
        {{input
          type="checkbox"
          classNames='inline-display checkbox'
          checked=option.selected
        }}
        {{option.displayText}}
      </div>
    {{/each}}
  {{else}}
    <h4>&nbsp;No options available...</h4>
  {{/if}}
</div>