{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{#if this.loaded}}
  <table class='detail-list'>
    <thead>
      <tr>
        <th colspan="2">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Task Attempt ID</td>
        <td>{{this.model.entityID}}</td>
      </tr>
      <tr>
        <td>Task ID</td>
        <td>{{this.model.taskID}}</td>
      </tr>
      <tr>
        <td>Container ID</td>
        <td>{{txt this.model.containerID}}</td>
      </tr>
      <tr>
        <td>Node ID</td>
        <td>{{txt this.model.nodeID}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td><EmTableStatusCell @content={{this.model.status}} /></td>
      </tr>
      <tr>
        <td>Progress</td>
        <td><EmTableProgressCell @content={{this.model.progress}} /></td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td><DateFormatter @content={{this.model.startTime}} /></td>
      </tr>
      <tr>
        <td>End Time</td>
        <td><DateFormatter @content={{this.model.endTime}} /></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{txt this.model.duration type="duration"}}</td>
      </tr>
      <tr>
        <td>Log</td>
        <td>
          {{#if this.model.logURL}}
            <a href={{this.model.logURL}} target="_blank" rel="noopener noreferrer">
              <i class="fa fa-file-o" aria-hidden="true"></i> View
            </a>
            &nbsp;
            <a href={{this.model.logURL}} target="_blank" download rel="noopener noreferrer">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </a>
          {{else}}
              <span class="txt-message">Not Available!</span>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Container Logs</td>
        <td>
          {{#if this.model.containerLogURL}}
            <a href={{this.model.containerLogURL}} target="_blank" rel="noopener noreferrer">
              <i class="fa fa-file-o" aria-hidden="true"></i> View
            </a>
            &nbsp;
            <a href={{this.model.containerLogURL}} target="_blank" download rel="noopener noreferrer">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </a>
          {{else}}
              <span class="txt-message">Not Available!</span>
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>

  {{#if this.model.diagnostics}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        Diagnostics
      </div>
      <div class="diagnostics">
        {{this.model.diagnostics}}
      </div>
    </div>
  {{/if}}

{{else}}
  <Loading/>
{{/if}}
