{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="{{if env.app.isStandalone 'standalone' 'wrapped'}} {{if env.ENV.isIE 'ie'}}">
  <div class="footer-pusher">

    <div class="header">
      <div class="lr-margin content">
        {{#link-to 'application' class="logo"}}
          <img src="assets/images/logo.png" width="70px"/>
        {{/link-to}}

        <div class="breadcrumb-container">
          {{em-breadcrumbs items=prefixedBreadcrumbs}}
        </div>

        <div class="ui-info">
          {{#if env.app.buildVersion}}
            <span>Version <b>{{env.app.buildVersion}}</b></span>
          {{/if}}
          <span>
            <a href={{env.app.hrefs.help}} target="_blank">
              <i class="fa fa-question-circle"></i>
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="lr-margin">
      {{outlet}}
    </div>
    <div class="footer-frame"> </div>
  </div>

  <div class="footer">
    <div class="lr-margin content">
      <a href={{env.app.hrefs.license}} target="_blank">
        Licensed under the Apache License, Version 2.0.
      </a>
      <div class="ui-info">
        {{#if env.app.timezone}}
          <span>Timezone <b>{{env.app.timezone}}</b></span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{outlet "modal"}}

{{error-bar error=appError}}
