{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<ul class="breadcrumb">
  <li>{{#link-to 'dags'}}All Dags{{/link-to}} <span class="divider"></span></li>
  <li class="active">Dag - <span class='sub'>{{name}}</span></li>
</ul>

{{#unless loading}}
  <div class='type-table fill-full margin-small'>
    <div class='align-left'>

      <table class='detail-list'>
        <tbody>
          <tr>
            <td>Dag ID</td>
            <td>{{id}}</td>
          </tr>
          <tr>
            <td>{{t 'common.applicationId'}}</td>
            <td>{{applicationId}}</td>
          </tr>
          <tr>
            <td>{{t 'common.user'}}</td>
            <td>{{user}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class='pill-container align-right'>
      {{bs-pills contentBinding='childDisplayViews' selectedBinding='childDisplayViewSelected' size='lg'}}
    </div>

  </div>
  <div class='margin-small-vertical'>
    {{outlet}}
  </div>
{{else}}
  {{partial 'partials/loading-spinner'}}
{{/unless}}