{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<ul class="breadcrumb">
  <li>{{#link-to 'application'}}<i class="fa fa-home"> All DAGs</i>{{/link-to}} <span class="divider"></span></li>
</ul>

<div class='margin-small-vertical'>
  {{#unless loading}}
    {{load-time-component
      isRefreshable=isRefreshable
      time=sortedContent.0.timeStamp
      refresh='refresh'
    }}
    <div class='dag-header'>
      <div class="align-children-left">
        {{#if visibleFilters.dagName}}
          <div class='filter-elements'>
            <div>Dag Name</div>
            {{input
              action="filterUpdated"
              value=boundFilterValues.dagName
              placeholder="Search..."
            }}
          </div>
        {{/if}}
        {{#if visibleFilters.user}}
          <div class='filter-elements'>
            <div>Submitter</div>
            {{input
              action="filterUpdated"
              value=boundFilterValues.user
              placeholder="Search..."
            }}
          </div>
        {{/if}}
        {{#if visibleFilters.status}}
          <div class='filter-elements'>
            <div>Status</div>
            {{view App.Dropdown
              optionValuePath='content.id'
              optionLabelPath='content.label'
              classNames='inline-display'
              action='filterUpdated'
              content=App.Helpers.misc.dagStatusUIOptions
              value=boundFilterValues.status
            }}
          </div>
        {{/if}}
        {{#if visibleFilters.appId}}
          <div class='filter-elements'>
            <div>Application ID</div>
            {{input
              action="filterUpdated"
              value=boundFilterValues.appId
              placeholder="Search..."
            }}
          </div>
        {{/if}}
      </div><div class="align-children-right">
        {{view App.BasicTableComponent.PaginationView
          pageNum=page
          totalPages=lastPage
          hideLast=true
        }}
        <i {{bind-attr class=':fa-action :fa-cog :left-divider'}} {{action 'selectColumns'}}></i>
      </div>
    </div>
    {{basic-table-component
      columns=columns
      rows=sortedContent

      rowCountBinding='rowCount'

      statusMessage=statusMessage
    }}
  {{else}}
    {{partial 'partials/loading-spinner'}}
    <div class="text-align-center">
      {{statusMessage}}
    </div>
  {{/unless}}

</div>
